/* header {
  display: flex;
  justify-content: center;
} */

.site-nav-ul {
  list-style: none;
}

.site-nav-link {
  color: black;
  text-decoration: none;
  list-style: none;

}

.main-button {
  width: 155px;
  height: 40px;
  background-color: #FF7500;
  text-decoration: none;
  color: white;
}
.main-button-link {
  color: white;
  text-decoration: none;
  width: 107px;
  height: 15px;
}

.hover {
  background-color: black;
  color: white;
}

.sale {
  background-color: black;
  color: white;
}
footer li {
  list-style: none;
  text-decoration: none;
}
footer a {
  text-decoration: none;
  color: black;
}

.telegram-icon {
  width: 24px;
  height: 24px;
}